[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[user]
	name = Manabu Matsui
	email = manabu.matsui@gmail.com
[core]
	excludesfile = ~/.gitignore_global
	attributesfile = ~/.gitattributes_global
	autocrlf = input
[color]
	ui = auto
[diff]
	renames = true
